[Desktop Entry]
Name=PlainMD
GenericName=Markdown Viewer
Comment=A simple and elegant Markdown viewer
Exec=plainmd %F
Icon=eu.brainbytez.plainmd
Type=Application
Categories=Office;
MimeType=text/markdown;text/x-markdown;text/plain;
Terminal=false
StartupNotify=true
